# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build / Distribution
# =========================
dist/
build/

# =========================
# Environment Files
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
Server/logs/
*.log
*.log.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

uploads/
Server/uploads/

# =========================
# Scripts (optional generated scripts)
# =========================
Server/src/scripts/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

tmp/
temp/
.cache/
*.tsbuildinfo
package-lock.json